
.body{
  background-color: #fff;
}

.home_page {
  background: linear-gradient(
    59deg,
    rgb(158, 185, 232) 0%,
    rgb(185, 67, 122) 100%
  );
  height: 14vh;
  color: white;
}

.home_page p {
  font-size: 1rem;
}

.cards_container {
  width: 90vw;
  margin: auto;
   background-color: #fff;
}

.cards1 {
  height: 27vh;
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid gainsboro;
}

.cards2 {
  height: 70vh;
  margin-left: 10px;
  width: 59vw;
  background-color: #fff;
  position: fixed;
}

.img1 {
  max-width: 100px;
  float: left;
  margin-right: 10px;
}

.price {
  float: right;
  margin-right: 15px;
}
.specialPrice {
  float: right;
  display: inline-flex;
}

.pp {
  display: inline;
  width: 9vw;
}
.g {
  display: inline;
}

.p2 {
  margin-top: 25px;
}

.updateQuantity {
  display: inline;
  margin-top: 15px;
}
.updateQuantitySelect {
height: 30px;
width: 45px;
padding: 4px;;
}

.stock {
  height: 30px;
  width: 110px;
  background-color: blue;
  text-align: center;
  color: white;
  border-radius: 9px;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-top: 15px;
  margin-left: 24px;
}

.product {
  display: flex;
  float: right;
  margin-top: 15px;
}

.details {
  display: flex;
  margin: 0px 0px 10px 0px;
  font-weight: bold;
}

.view {
  height: 30px;
  width: 140px;
  background-color: rgb(81, 81, 190);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-right: 11px;
}

.cart {
  height: 30px;
  width: 150px;
  background-color: rgb(243, 66, 66);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid red;
}

.delivery {
}

.address {
  height: 50px;
  width: 600px;
}

.payment {
  border: 1px solid black;
  height: 250px;
  width: 600px;
  margin-top: 50px;
}

.debit_card {
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon_debit {
  margin-left: 23px;
  display: flex;
  align-items: center;
}

.debit_card p {
  margin-left: 10px;
  margin-right: 170px;
}

.card_img {
  width: 40px;
  margin-left: 15px;
}

.card_number {
  margin-left: 23px;
}

.card_number span {
  color: rgb(159, 158, 158);
}

.number {
  height: 40px;
  width: 300px;
  margin-left: 23px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.another_pay {
  text-align: center;
  margin-top: 30px;
  width: 600px;
}

a {
  text-decoration: none;
}

.total{
  height: 78px;
  margin: 30px 0 0 0;
}
.total p{
  margin: 15px 0 0px 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.checkoutBtn{
  text-align: center;
}

.btn {
  height: 40px;
  width: 90vw;
  background-color: blue;
  color: white;
  margin-top: 20px;
}

.or {
  height: 30px;
  margin-top: 10px;
}


/* Responsive Design */
@media (max-width: 320px) {
  .cards1 {
      height: 40vh;
      width: 270px;
  }
  .price {
    margin-right: 0px;
  }
  .specialPrice {
    float: none;
  }
  .updateQuantity {
    display: inline;
    align-items: center;
  }
  .updateQuantitySelect {
    margin-left: 10px;
    margin-right: 14px;
  }
  
}

@media (min-width: 321px) and (max-width: 412px) {
  .updateQuantitySelect {
    margin-top: 30px;
  }
  .price{
    margin-top: 36px;
  }
  .stock{
    margin-left: 0;
  }
  .product{
    float: none;
    justify-content: center;
  }

  .cart{
    width: 170px;
    font-size: 1rem;
  }
 
  
}