.card_mr{
  width: 100%;
}

.products{
  margin: 13px 0px 0px 2vw;
 
}

.categories{
  width: 20vw;
  margin-left: 23px;
  margin-top: 50px;

}
.categories_list{
  margin-left: 33px;
  margin-top: 10px;
  
}
.checkbox{
  margin-top: 10px;
  margin-right: 5px;
  
}

.filter{
margin-left: 5px;
}



.card_container {
width: 98vw;
margin: 15px auto 0px auto;
}

.card_list{
display: flex;
flex-wrap: wrap;
justify-content: stretch;
}

.card {
/* height: 90vh; */
/* height: 575px; */
height: fit-content;
margin: auto;
/* width: 19vw; */
width: 250px;
background-color: #fff;
border: 1px solid #ddd;
padding: 15px 15px 15px 15px;
color: rgb(0, 0, 0);
font-size: 1.1rem;
margin: 16px 16px 16px 16px ;

}

.img {
/* height: 30vh; */
/* width: 20vw; */
height: 31%;
width: 100%;
}

.p {
  padding: 5px;
margin-bottom: 10px;
background-color: #c9c3c3;
height: 25px;
display: flex;
align-items: center;
}
.p2 {
margin-top: 25px;

}
.p3 {
margin-top: 7px;

}
.stock {
height: 23px;
background-color: blue;
width: 110px;
text-align: center;
color: white;
border-radius: 17px;
 display: flex;
 align-items: center;
 justify-content: center;

}

.stock_rating {

display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: -8px;
}
.product {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 5px;
}

.view {
height: 30px;
width: 140px;
background-color: rgb(81, 81, 190);
color: white;
display: flex;
align-items: center;
justify-content: center;
border-radius: 4px;
margin-right: 10px;
font-size: 0.9rem;
}
.cart {
height: 30px;
width: 140px;
color: rgb(183, 7, 7);
display: flex;
align-items: center;
justify-content: center;
border-radius: 4px;
border: 1px solid red;
font-size: 0.9rem;
}


/* ProductList.module.css */

.textRed {
  font-size: 0.875rem;
  color: #f56565; /* Equivalent to Tailwind's text-red-500 */
}

.textRedLight {
  font-size: 0.875rem;
  color: #fc8181; /* Equivalent to Tailwind's text-red-400 */
}

/* ProductList.module.css */
.addProductLink {
  border-radius: 0.375rem; /* rounded-md */
  margin: 0.75rem 2.5rem; /* mx-10 my-3 */
  background-color: #38a169; /* bg-green-600 */
  padding: 0.5rem 0.75rem; /* px-3 py-2 */
  font-size: 0.875rem; /* text-sm */
  font-weight: 600; /* font-semibold */
  color: #ffffff; /* text-white */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
  text-decoration: none;
  display: inline-block;
}

.addProductLink:hover {
  background-color: #5a67d8; /* hover:bg-indigo-500 */
}

.addProductLink:focus-visible {
  outline: 2px solid #5a67d8; /* focus-visible:outline-indigo-600 */
  outline-offset: 2px; /* focus-visible:outline-offset-2 */
}


/* FilterToggle.module.css */
.container {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}

.filterIcon {
  cursor: pointer;
  width: 50px;
  height: 40px;
  float: right;
  margin-top: 15px;
  margin-right: 20px;
}

.filterIcon .icon {
  width: 100%;
  height: 100%;
}

/* FilterPage.module.css */
.filterPage {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background: white;
  transition: right 0.3s ease-in-out;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
   z-index: 10;
}

.filterPage.visible {
  right: 0;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.header button{
  width: 64px;
  height: 40px;
  background: red;
  color: white;
}

.content {
  padding: 5px;
}

.filterGroup {
  margin-bottom: 20px;
}

.filterGroup label {
  display: block;
  margin-bottom: 5px;
}

.filterGroup input,
.filterGroup select {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}




.sort{
  float: right;
  margin: 3px 20px 0px 0px;
}
.chevron{
  float: right;
  height: 20px;
  width: 30px;
}

/* sort************** */
/* App.module.css */

.sortContainer {
  position: relative;
  display: inline-block;
}

.sortButton {
  padding: 8px;
  cursor: pointer;
}

.sortOptions {
  width: 15vw;
  position: absolute;
  top: 100%;
  /* left: 0; */
  right: 0;
  /* z-index: 10; */
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.sortOptions button {
  padding: 5px;
  cursor: pointer;
  border: none;
  background: none;
  text-align: left;
}

.sortOptions button:hover, .sortOptions button.active {
  background-color: #f0f0f0;
  font-weight: bold;
}

.active {
  font-weight: bold;
  color: blue;
}



/* Responsive Design */
@media (max-width: 320px) {
  .card_mr {
      width: 100%;
     
  }

  .img {
    /* height: 100%; */
    width:100%;
    }

.p{
      padding: 5px;

}

  .stock {
      width: 110px;
      height: 20px;
      margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .card_mr {
      width: 100%;
      
  }
  .card_list {
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  .card{
    width: 83vw;
  }

  .img {
    /* height: 100%; */
    width:100%;
    }

.p{
      padding: 5px;

}

  .stock {
      width: 110px;
      height: 20px;
      margin-right: 10px;
  }
}

@media (max-width: 758px) {
  .card_mr {
      width: 100%;
      
  }
  .card_list {
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  .img {
    /* height: 100%; */
    width:100%;
    }

.p{
      padding: 5px;

}

  .stock {
      width: 110px;
      height: 20px;
      margin-right: 10px;
  }
}




