/* AddAddress.module.css */

.heading {
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.content {
  max-width: 900px;
  width: 100%;
}

.userInfo {
  text-align: center;
  margin-bottom: 20px;
}

.userName {
  font-size: 1.5em;
  margin: 0;
}

.userEmail,
.userRole {
  font-size: 1.2em;
  margin: 0;
}

.addBtn {
  display: inline;
  margin: 20px 148px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: rgb(8, 201, 8);
  color: white;
  border: none;
  border-radius: 7px;
}
.link {
  display: inline;
  margin: 20px 148px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 7px;
}

.addBtn:hover,.link:hover{
  background-color: rgb(74, 74, 244);
}

.customForm {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
}

.spaceY12 {
  margin-bottom: 12px;
}

.borderB {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.formHeading {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.formDescription {
  font-size: 0.9em;
  margin-bottom: 20px;
}

.formGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formColumn {
  flex: 1;
  min-width: 200px;
}

.formColumnFull {
  flex: 1 100%;
}

.formLabel {
  display: block;
  margin-bottom: 5px;
}

.formInput {
  display: flex;
  align-items: center;
}

.formField {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.flexItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.formReset,
.formSubmit {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.formReset {
  background-color: #f44336;
  color: #fff;
}

.formSubmit {
  background-color: #4caf50;
  color: #fff;
}

.addressContainer {
  margin-top: 20px;
}

.addressList {
  list-style: none;
  padding: 0;
}

.addressItem {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addressDetails {
  /* flex: 1; */
}

.addressName {
  font-weight: bold;
}

.addressStreet,
.addressCity,
.addressPin,
.addressState,
.addressPhone {
  margin: 5px 0;
}

.btnFlex {
  display: flex;
  gap: 10px;
}

.edit,
.remove {
  padding: 5px 10px;
  font-size: 0.9em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.edit {
  background-color: #2196f3;
  color: #fff;
}

.remove {
  background-color: #f44336;
  color: #fff;
}


/* Responsive Design */
@media (max-width: 320px) {
  .addressItem {
    display: block;  }}
