

.search_container {
  width: 50vw;
  height: 8vh;
  margin: 3vh auto 0px auto;
  background-color: #ede7e7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select {
  margin-right: 3%;
  margin-left: 3%;
  height: 5vh;
  width: 10%;
  border: none;
  border-radius: 3px;
  background-color: #dedcdc;
}
.searchBar {
  /* height: 6vh; */
  width: 80%;
  background-color: #dedcdc;
  border-radius: 3px;
}
.searchBar i {
  margin-left: 15px;
  margin-right: 5px;
}
.input {
  height: 6vh;
  width: 70%;
  border: none;
  background-color: #dedcdc;
}
.search {
  width: 10%;
  height: 5vh;
  background-color: blue;
  color: white;
  margin-left: 3%;
  /* margin-right: 3%; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: none;
}
textarea:focus,
input:focus {
  outline: none;
}
textarea:focus,
select:focus {
  outline: none;
}


@media (max-width: 320px) {
  .search_container {
    width: 100vw;
  }

  .select {
    width:18%;
    }
  .searchBar {
    width:50%;
    }

  .input {
    width:70%;
    }
  .search {
    width: 16%;
    font-size: .7rem;
    }


}
@media (min-width: 321px) and (max-width: 412px)  {
  .search_container {
    width: 100vw;
  }
  .search {
    width: 15%;
    }
}

 @media (min-width: 413px) and (max-width: 758px){
  .search_container {
    width: 100vw;
  }

  .select {
    width:20%;
    }
  .search {
    width: 15%;
    }
}